In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('BankChurners.csv')
print(df.shape)
df.info()

(10127, 23)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 23 columns):
 #   Column                                                                                                                              Non-Null Count  Dtype
---  ------                                                                                                                              --------------  -----
 0   CLIENTNUM                                                                                                                           10127 non-null  int64
 1   Attrition_Flag                                                                                                                      10127 non-null  object
 2   Customer_Age                                                                                                                        10127 non-null  int64
 3   Gender                                                                                                                              10127 non-null  object
 4   Dependent_count                                                                                                                     10127 non-null  int64
 5   Education_Level                                                                                                                     10127 non-null  object
 6   Marital_Status                                                                                                                      10127 non-null  object
 7   Income_Category                                                                                                                     10127 non-null  object
 8   Card_Category                                                                                                                       10127 non-null  object
 9   Months_on_book                                                                                                                      10127 non-null  int64
 10  Total_Relationship_Count                                                                                                            10127 non-null  int64
 11  Months_Inactive_12_mon                                                                                                              10127 non-null  int64
 12  Contacts_Count_12_mon                                                                                                               10127 non-null  int64
 13  Credit_Limit                                                                                                                        10127 non-null  float64
 14  Total_Revolving_Bal                                                                                                                 10127 non-null  int64
 15  Avg_Open_To_Buy                                                                                                                     10127 non-null  float64
 16  Total_Amt_Chng_Q4_Q1                                                                                                                10127 non-null  float64
 17  Total_Trans_Amt                                                                                                                     10127 non-null  int64
 18  Total_Trans_Ct                                                                                                                      10127 non-null  int64
 19  Total_Ct_Chng_Q4_Q1                                                                                                                 10127 non-null  float64
 20  Avg_Utilization_Ratio                                                                                                               10127 non-null  float64
 21  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  10127 non-null  float64
 22  Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2  10127 non-null  float64
dtypes: float64(7), int64(10), object(6)
memory usage: 1.8+ MB

In [3]:
col_removal = ['CLIENTNUM','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1','Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2']
df.drop(col_removal, axis = 1, inplace=True)
df

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,5,1,3,12691.0,777,11914.0,1.335,1144,42,1.625,0.061
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,6,1,2,8256.0,864,7392.0,1.541,1291,33,3.714,0.105
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,4,1,0,3418.0,0,3418.0,2.594,1887,20,2.333,0.000
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,3,4,1,3313.0,2517,796.0,1.405,1171,20,2.333,0.760
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,5,1,0,4716.0,0,4716.0,2.175,816,28,2.500,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,3,2,3,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462
10123,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,4,2,3,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511
10124,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,5,3,4,5409.0,0,5409.0,0.819,10291,60,0.818,0.000
10125,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,4,3,3,5281.0,0,5281.0,0.535,8395,62,0.722,0.000
10126,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,6,2,4,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189

In [4]:
x = df.drop('Attrition_Flag', axis=1)
y = df.Attrition_Flag
print(x)
y

       Customer_Age Gender  Dependent_count Education_Level Marital_Status  \
0                45      M                3     High School        Married
1                49      F                5        Graduate         Single
2                51      M                3        Graduate        Married
3                40      F                4     High School        Unknown
4                40      M                3      Uneducated        Married
...             ...    ...              ...             ...            ...
10122            50      M                2        Graduate         Single
10123            41      M                2         Unknown       Divorced
10124            44      F                1     High School        Married
10125            30      M                2        Graduate        Unknown
10126            43      F                2        Graduate        Married

      Income_Category Card_Category  Months_on_book  Total_Relationship_Count  \
0         $60K - $80K          Blue              39                         5
1      Less than $40K          Blue              44                         6
2        $80K - $120K          Blue              36                         4
3      Less than $40K          Blue              34                         3
4         $60K - $80K          Blue              21                         5
...               ...           ...             ...                       ...
10122     $40K - $60K          Blue              40                         3
10123     $40K - $60K          Blue              25                         4
10124  Less than $40K          Blue              36                         5
10125     $40K - $60K          Blue              36                         4
10126  Less than $40K        Silver              25                         6

       Months_Inactive_12_mon  Contacts_Count_12_mon  Credit_Limit  \
0                           1                      3       12691.0
1                           1                      2        8256.0
2                           1                      0        3418.0
3                           4                      1        3313.0
4                           1                      0        4716.0
...                       ...                    ...           ...
10122                       2                      3        4003.0
10123                       2                      3        4277.0
10124                       3                      4        5409.0
10125                       3                      3        5281.0
10126                       2                      4       10388.0

       Total_Revolving_Bal  Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  \
0                      777          11914.0                 1.335
1                      864           7392.0                 1.541
2                        0           3418.0                 2.594
3                     2517            796.0                 1.405
4                        0           4716.0                 2.175
...                    ...              ...                   ...
10122                 1851           2152.0                 0.703
10123                 2186           2091.0                 0.804
10124                    0           5409.0                 0.819
10125                    0           5281.0                 0.535
10126                 1961           8427.0                 0.703

       Total_Trans_Amt  Total_Trans_Ct  Total_Ct_Chng_Q4_Q1  \
0                 1144              42                1.625
1                 1291              33                3.714
2                 1887              20                2.333
3                 1171              20                2.333
4                  816              28                2.500
...                ...             ...                  ...
10122            15476             117                0.857
10123             8764              69                0.683
10124            10291              60                0.818
10125             8395              62                0.722
10126            10294              61                0.649

       Avg_Utilization_Ratio
0                      0.061
1                      0.105
2                      0.000
3                      0.760
4                      0.000
...                      ...
10122                  0.462
10123                  0.511
10124                  0.000
10125                  0.000
10126                  0.189

[10127 rows x 19 columns]

0        Existing Customer
1        Existing Customer
2        Existing Customer
3        Existing Customer
4        Existing Customer
               ...
10122    Existing Customer
10123    Attrited Customer
10124    Attrited Customer
10125    Attrited Customer
10126    Attrited Customer
Name: Attrition_Flag, Length: 10127, dtype: object

In [5]:
df.isnull().sum()

Attrition_Flag              0
Customer_Age                0
Gender                      0
Dependent_count             0
Education_Level             0
Marital_Status              0
Income_Category             0
Card_Category               0
Months_on_book              0
Total_Relationship_Count    0
Months_Inactive_12_mon      0
Contacts_Count_12_mon       0
Credit_Limit                0
Total_Revolving_Bal         0
Avg_Open_To_Buy             0
Total_Amt_Chng_Q4_Q1        0
Total_Trans_Amt             0
Total_Trans_Ct              0
Total_Ct_Chng_Q4_Q1         0
Avg_Utilization_Ratio       0
dtype: int64

In [6]:
collist = x.columns
collist
for i in collist:
    print(i)

Customer_Age
Gender
Dependent_count
Education_Level
Marital_Status
Income_Category
Card_Category
Months_on_book
Total_Relationship_Count
Months_Inactive_12_mon
Contacts_Count_12_mon
Credit_Limit
Total_Revolving_Bal
Avg_Open_To_Buy
Total_Amt_Chng_Q4_Q1
Total_Trans_Amt
Total_Trans_Ct
Total_Ct_Chng_Q4_Q1
Avg_Utilization_Ratio

In [7]:
catefeat = [i for i in collist if x[i].dtypes=='object']
catefeat

['Gender',
 'Education_Level',
 'Marital_Status',
 'Income_Category',
 'Card_Category']

In [8]:
for i in catefeat:
    print(x[i].unique())

['M' 'F']
['High School' 'Graduate' 'Uneducated' 'Unknown' 'College' 'Post-Graduate'
 'Doctorate']
['Married' 'Single' 'Unknown' 'Divorced']
['$60K - $80K' 'Less than $40K' '$80K - $120K' '$40K - $60K' '$120K +'
 'Unknown']
['Blue' 'Gold' 'Silver' 'Platinum']

In [9]:
from sklearn.preprocessing import LabelEncoder

In [11]:
Gender_le =LabelEncoder()
x['Gender'] = Gender_le.fit_transform(x['Gender'])
Gender_le.classes_

array(['F', 'M'], dtype=object)

In [13]:
Education_Level_le =LabelEncoder()
x['Education_Level'] = Education_Level_le.fit_transform(x['Education_Level'])
Education_Level_le.classes_

array(['College', 'Doctorate', 'Graduate', 'High School', 'Post-Graduate',
       'Uneducated', 'Unknown'], dtype=object)

In [14]:
Marital_Status_le =LabelEncoder()
x['Marital_Status'] = Marital_Status_le.fit_transform(x['Marital_Status'])
Marital_Status_le.classes_

array(['Divorced', 'Married', 'Single', 'Unknown'], dtype=object)

In [15]:
Income_Category_le =LabelEncoder()
x['Income_Category'] = Income_Category_le.fit_transform(x['Income_Category'])
Income_Category_le.classes_

array(['$120K +', '$40K - $60K', '$60K - $80K', '$80K - $120K',
       'Less than $40K', 'Unknown'], dtype=object)

In [16]:
Card_Category_le =LabelEncoder()
x['Card_Category'] = Card_Category_le.fit_transform(x['Card_Category'])
Card_Category_le.classes_

array(['Blue', 'Gold', 'Platinum', 'Silver'], dtype=object)

In [17]:
y_le =LabelEncoder()
y = y_le.fit_transform(y)
y_le.classes_

array(['Attrited Customer', 'Existing Customer'], dtype=object)

In [18]:
# numerical features에서 변량을 조사하고 이상치를 점검하는 process를 생략
from sklearn.preprocessing import StandardScaler

In [19]:
scaler = StandardScaler()
x = scaler.fit_transform(x)

In [21]:
import time
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,shuffle=True,random_state=1)

In [23]:
from xgboost import XGBClassifier
start = time.time()
xgb_default = XGBClassifier(objective = 'binary:logistic',random_state = 1)
xgb_default.fit(x_train , y_train)

# compare and view  accuracy of train and test data
xgb_score_train = xgb_default.score(x_train , y_train)
xgb_score_test = xgb_default.score(x_test , y_test)

print(xgb_score_train,xgb_score_test)
print("###time: ,", time.time() - start)

1.0 0.9698914116485686
###time: , 0.3962829113006592

In [27]:
# randomSearch
from sklearn.model_selection import RandomizedSearchCV

start = time.time()

xgb =  XGBClassifier(objective = 'binary:logistic',random_state = 1)

# cadidates for possible hyperparameters
param_dist = {                
      'max_depth': [ 5, 6, 7, 8, 9,10,11],
      'learning_rate': [0.01,0.05,0.1, 0.2,  0.3],
      'n_estimators': [120,160,200, 240, 260,300],
      'subsample': [0.5,0.6,0.7,0.8, 0.9, 1.0],
      'colsample_bytree': [0.5,0.6,0.7, 0.8, 0.9, 1.0],
      'gamma':[0.1,0.2,0.3,0.4,0.5]
}  

random_search = RandomizedSearchCV(
    estimator=xgb,
    param_distributions=param_dist,
    n_iter=50,
    cv=3,             
    scoring='accuracy',  
    random_state=42
)

random_search.fit(x_train, y_train)

# Best hyper parameter and its accuracy score
print("Best Hyperparameters:", random_search.best_params_)
print("Best Score:", random_search.best_score_)
print()
print("###time: ,", time.time() - start)

Best Hyperparameters: {'subsample': 0.8, 'n_estimators': 300, 'max_depth': 9, 'learning_rate': 0.1, 'gamma': 0.2, 'colsample_bytree': 0.7}
Best Score: 0.9717322345176226

###time: , 73.68546295166016

In [28]:
start = time.time()

xgb_opt =  XGBClassifier(objective = 'binary:logistic',random_state = 1,subsample=0.8,
                     n_estimators = 300, max_depth = 9, learning_rate = 0.1,gamma = 0.2,colsample_bytree=0.7)
xgb_opt.fit(x_train,y_train)
xgb_score = xgb_opt.score(x_test , y_test)

print(xgb_score)
print("###time: ,", time.time() - start)

0.9733464955577492
###time: , 1.1849689483642578